<ul id="partial-user-list"> {{#each users}}
        <li class = "one-user">
        	{{@key}}<input type="button" class = "username-button" id="{{_id}}" value="{{username}}" />
        </li>     
    {{/each}}
</ul>