<h1>Welcome to Twoter! :D</h1>

<div class="description">
	<p>An app where you and your friends can twote together!</p>
</div>

<div class="input">
	<button  type ="button" id="fbLogin"> Log in with Facebook</button>
	{{!-- <form id="login-form" method = "POST" action="users/add">
		<label for="username">Username</label>
	    <input id="username" type="text">

	    <input type="submit" id="submit" value="Submit" />
	    
	</form> --}}
</div>