<script>
function redirectToTwotes(req,res){
	res.redirect("/twotes");
}
</script>

<h1>Welcome to Twoter! :D</h1>

<div class="description">
	<p>An app where you and your friends can twote together!</p>
</div>

<div class="input">
	<form id="login-form" onsubmit="return redirectToTwotes()"method = "POST" action="users/add">
		<label for="username">Username</label>
	    <input id="username" type="text">

	    <input type="submit" id="submit" value="Submit" />
	    
	</form>
</div>