<link href="stylesheets/styles.css" rel="stylesheet" type="text/css">

<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

<h1>Welcome to Twoter! :D</h1>

<div class="description">
	<p>An app where you and your friends can twote together!</p>
</div>

<div class="input">
	<form id="login-form" action="#">
		<label for="username">Username</label>
	    <input id="username" type="text">

	    <input type="submit" id="submit" value="Submit" />
	    
	</form>
</div>