<div id="editForm">
<form id="twote-form" action="#">
	<label for="twoteContent">New Twote</label>
    <input id="twoteContent" name="twoteContent" type="text" class="required">
    <input type="submit" id="submit" value="Submit" />

</form>
</div>
<div id="twote-list">
    {{> twote-list}}
</div>
WORDS TO SEPERATE LISTS
<div id = 'user-list'>
	{{>user-list}}
</div>
<div>
	<input type="button" id="logout" value="Logout" /> 
</div>
